*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 600px;
  height: 400px;
}

path {
  stroke: aquamarine;
  stroke-width: 10px;
  stroke-linecap: round;
  fill: none;
}
